In [1]:
#in the absence of known webapi which can be used to retrieve the data , I am using web scrapping
#to get the corporate bond info. getting it from a webapi which will return the bond yields will be much 
#easier

In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

pd.set_option('display.max_colwidth', 200)

# URL of the source
url = 'https://www.hl.co.uk/shares/corporate-bonds-gilts/bond-prices/gbp-bonds'

# Load data from URL
tables = pd.read_html(url)
# Extract the table of interest (in this case, the first table on the page)
df = tables[0]
df=df.drop(columns=['Actions'])
df.head(10)

,Issuer,Coupon (%),Maturity,Price
0,3i Group GBP | XS0104440986 | 0924597,5.750,3 December 2032,99.575
1,A2D Funding plc GBP | XS1103286305 | BQ8NZW9,4.500,30 September 2026,94.925
2,Abrdn Asia Focus Plc GBX | GB00BFZ0WT29 | BFZ0WT2,2.250,31 May 2025,95.250
3,Allied Irish Banks plc GBP | XS0435957682 | BFMTY18,0.000,25 June 2035,61.000
4,Alpha Plus Holdings plc GBP | XS1379593566 | BZ5ZT30,5.000,31 March 2024,97.925
5,Anglian Water Services Financing plc GBP | XS0093312550 | 0482976,6.625,15 January 2029,103.900
6,Aviva plc GBP | XS1488459485 | BDF5PP0,4.375,12 September 2049,85.350
7,Aviva plc GBP | XS0138717441 | 3106518,6.125,14 November 2036,100.450
8,B.A.T. International Finance GBP | XS0468426266 | B5KP6X4,6.000,24 November 2034,90.875
9,B.A.T. International Finance plc GBP | XS0522408599 | B3RS4H2,5.750,5 July 2040,82.250

In [3]:
df_issuer = df
print(df_issuer['Issuer'])
# Split "issuer" column by "|" character
df_issuer[['Name', 'ISIN', 'SEDOL']] = df_issuer['Issuer'].str.split('|', expand=True)

# Remove leading/trailing whitespace from the newly created columns
df_issuer['Name'] = df_issuer['Name'].str.strip()
df_issuer['ISIN'] = df_issuer['ISIN'].str.strip()
df_issuer['SEDOL'] = df_issuer['SEDOL'].str.strip()

# Drop the original "issuer" column
df_issuer.drop('Issuer', axis=1, inplace=True)

# Get a list of all column names except "Name", "ISIN", and "SEDOL"
other_columns = [col for col in df_issuer.columns if col not in ['Name', 'ISIN', 'SEDOL']]

# Reorder columns with "Name", "ISIN", and "SEDOL" as the first columns, followed by the remaining columns
df_issuer = df_issuer[['Name']+other_columns+['ISIN','SEDOL']]

# Display the updated DataFrame with additional columns
print(df_issuer)

0                            3i Group GBP | XS0104440986 | 0924597
1                     A2D Funding plc GBP | XS1103286305 | BQ8NZW9
2                Abrdn Asia Focus Plc GBX | GB00BFZ0WT29 | BFZ0WT2
3              Allied Irish Banks plc GBP | XS0435957682 | BFMTY18
4             Alpha Plus Holdings plc GBP | XS1379593566 | BZ5ZT30
                                  ...
124         Vanquis Banking Group plc GBP | XS1209091856 | BWNH4K9
125                    Vodafone Group GBP | XS0158715713 | 3230097
126                    Vodafone Group GBP | XS0181816652 | 3388361
127    West Bromwich Building Society GBP | GB00B0CX2M20 | B0CX2M2
128        Yorkshire Building Society GBP | XS0498549194 | B5674L8
Name: Issuer, Length: 129, dtype: object
                                   Name  Coupon (%)           Maturity  \
0                          3i Group GBP       5.750    3 December 2032
1                   A2D Funding plc GBP       4.500  30 September 2026
2              Abrdn Asia Focus Plc GBX       2.250        31 May 2025
3            Allied Irish Banks plc GBP       0.000       25 June 2035
4           Alpha Plus Holdings plc GBP       5.000      31 March 2024
..                                  ...         ...                ...
124       Vanquis Banking Group plc GBP       5.125     9 October 2023
125                  Vodafone Group GBP       5.900   26 November 2032
126                  Vodafone Group GBP       5.625    4 December 2025
127  West Bromwich Building Society GBP       6.150                NaN
128      Yorkshire Building Society GBP      13.500       1 April 2025

       Price          ISIN    SEDOL
0     99.575  XS0104440986  0924597
1     94.925  XS1103286305  BQ8NZW9
2     95.250  GB00BFZ0WT29  BFZ0WT2
3     61.000  XS0435957682  BFMTY18
4     97.925  XS1379593566  BZ5ZT30
..       ...           ...      ...
124   99.050  XS1209091856  BWNH4K9
125  100.650  XS0158715713  3230097
126  101.025  XS0181816652  3388361
127   75.375  GB00B0CX2M20  B0CX2M2
128  150.000  XS0498549194  B5674L8

[129 rows x 6 columns]

In [4]:
bond_underlyings=df_issuer['SEDOL'].values
bond_underlyings

array(['0924597', 'BQ8NZW9', 'BFZ0WT2', 'BFMTY18', 'BZ5ZT30', '0482976',
       'BDF5PP0', '3106518', 'B5KP6X4', 'B3RS4H2', 'BYX4LY7', '0087177',
       '0087025', '3079784', '3149397', 'BYM5X34', 'B0SRM51', 'B19ZPK7',
       'B19ZMT5', '0379722', 'B1YYD83', 'BL6THL7', '0678087', 'BFWXVY2',
       'BDR7W97', 'B04X7D6', 'BYVZGF8', 'BFXW063', 'BFXWHQ2', 'B3XR428',
       'B1YWFR0', '0301208', '3432451', '3304323', 'B3F8XJ9', 'BMFTNK6',
       'B7M3NB7', 'BR4R5Y4', 'BTL1KW6', '0347202', 'B2NMK95', 'B0KCMD2',
       '3115912', 'B1VTTZ0', '0484110', '0039491', '0524287', '3414716',
       '0262468', '3227077', 'B3CPYK1', 'B4Y0FV9', 'BGDQ0W8', 'B03HC45',
       '3342561', '3235382', 'B57N6P3', 'B3D0FP7', 'BJYHVQ2', 'BP95743',
       '0510491', '0365237', 'BD20Y17', 'BL9ZVL0', 'B434V14', '0190536',
       'B3MGZV2', 'B3Q4VK3', '3167913', 'BYYTRZ4', 'B92X2L4', 'BG88V04',
       '0491938', '3068157', '0134653', '0877378', '0631530', 'B908RK5',
       '0637152', '0636137', '0877505', 'B0712W1', '3051793', 'BMBV8F6',
       'BYTLBZ3', '0678355', '0532019', 'BNQ4H05', 'BV0LR31', 'BD8N670',
       '3113110', 'BH57VG7', 'BGNKKR5', 'BQB3FY8', 'BG1G105', 'BP5GL15',
       'BZ8THC4', 'BDH6X68', 'BWT68S6', 'BYWH0D9', 'BNT2HQ2', 'BMFKP03',
       'BLCH351', 'BF47250', 'BF3T150', 'BF2DQ81', '3424782', 'BBJNJX2',
       '0750491', '0027203', '0786742', '0123383', 'B08PLG9', '0525150',
       '0689249', '3109603', 'BN79174', '3231971', '3104169', 'B1SX847',
       '0937465', 'B11KSW3', '0432551', '3237786', 'BWNH4K9', '3230097',
       '3388361', 'B0CX2M2', 'B5674L8'], dtype=object)

In [5]:
%%capture
%run gilts_yield_calculator.ipynb

In [6]:
def get_coupon_frequancy(frequency):
    switch_dict = {
        "Annually": 1,
        "Bi-annually": 2,
        "Quarterly": 4
    }
    return switch_dict.get(frequency, None)

In [7]:
# Define a function to generate link HTML
def generate_link(url):
    return f'<a href="{url}" target="_blank">{url}</a>'

In [8]:
b_df = pd.DataFrame(columns = ['SEDOL', 'CouponFreq'])

In [9]:
def add_bond_to_data_frame(bond_underlying: str, concate_to_df):
    print('trying to scrap bond data {} from url '.format(bond_underlying))
    url_hl_search = f'https://www.hl.co.uk/shares/shares-search-results/{bond_underlying}'
    df = pd.read_html(url_hl_search)[0]
    df = df.T
    df.reset_index(drop=True, inplace=True)
    df.columns = df.iloc[0].str.rstrip(':')
    df.drop(0, inplace=True)
    df['Coupon_Freq'] = df['Coupon frequency'].map(get_coupon_frequancy)
    df['SEDOL'] = bond_underlying
    df = df[['Coupon_Freq', 'SEDOL']]
    concate_to_df = pd.concat([concate_to_df, df], ignore_index=False)
    return concate_to_df

In [10]:
bond_underlying = 'B03HC45'
#a = [add_bond_to_data_frame(b,b_df) for b in bond_underlyings]
#b_df=add_bond_to_data_frame(bond_underlying,b_df)
#b_df=b_df.style.format({'URL': generate_link})
#b_df

In [11]:
get_bond_page= (lambda bond_underlying : 
                   f'https://www.hl.co.uk/shares/shares-search-results/{bond_underlying}')

In [12]:
import asyncio
import aiohttp
import pandas as pd
import nest_asyncio
   
nest_asyncio.apply()  # Run this line if using Jupyter Notebook
async def fetch_data(bond_underlying: str):
    async with aiohttp.ClientSession() as session:
        url_hl_search = get_bond_page(bond_underlying)           
        async with session.get(url_hl_search) as response:
            html = await response.text()
            df= pd.read_html(html,flavor='bs4')[0]
            df = df.transpose()
            df.reset_index(drop=True, inplace=True)
            df.columns = df.iloc[0].str.rstrip(':')
            df.drop(0, inplace=True)
            df['CouponFreq'] = df['Coupon frequency'].map(get_coupon_frequancy)
            df['SEDOL'] = bond_underlying
            df = df[['CouponFreq', 'SEDOL']]
            return df

async def get_bond_coupon_freq(bond_underlying: str):
    try:
        print('trying to scrape bond data {} from url '.format(bond_underlying))
        df = await fetch_data(bond_underlying)
        return df
    except Exception as e:        
        print("error when calling bond {} m exception \t {}".format(bond_underlying,e))

async def main():
    global b_df
    tasks = [get_bond_coupon_freq(bond_underlying) for bond_underlying in bond_underlyings]
    results = await asyncio.gather(*tasks)
    b_df= pd.concat([b_df]+results)

await main()

trying to scrape bond data 0924597 from url
trying to scrape bond data BQ8NZW9 from url
trying to scrape bond data BFZ0WT2 from url
trying to scrape bond data BFMTY18 from url
trying to scrape bond data BZ5ZT30 from url
trying to scrape bond data 0482976 from url
trying to scrape bond data BDF5PP0 from url
trying to scrape bond data 3106518 from url
trying to scrape bond data B5KP6X4 from url
trying to scrape bond data B3RS4H2 from url
trying to scrape bond data BYX4LY7 from url
trying to scrape bond data 0087177 from url
trying to scrape bond data 0087025 from url
trying to scrape bond data 3079784 from url
trying to scrape bond data 3149397 from url
trying to scrape bond data BYM5X34 from url
trying to scrape bond data B0SRM51 from url
trying to scrape bond data B19ZPK7 from url
trying to scrape bond data B19ZMT5 from url
trying to scrape bond data 0379722 from url
trying to scrape bond data B1YYD83 from url
trying to scrape bond data BL6THL7 from url
trying to scrape bond data 0678087 from url
trying to scrape bond data BFWXVY2 from url
trying to scrape bond data BDR7W97 from url
trying to scrape bond data B04X7D6 from url
trying to scrape bond data BYVZGF8 from url
trying to scrape bond data BFXW063 from url
trying to scrape bond data BFXWHQ2 from url
trying to scrape bond data B3XR428 from url
trying to scrape bond data B1YWFR0 from url
trying to scrape bond data 0301208 from url
trying to scrape bond data 3432451 from url
trying to scrape bond data 3304323 from url
trying to scrape bond data B3F8XJ9 from url
trying to scrape bond data BMFTNK6 from url
trying to scrape bond data B7M3NB7 from url
trying to scrape bond data BR4R5Y4 from url
trying to scrape bond data BTL1KW6 from url
trying to scrape bond data 0347202 from url
trying to scrape bond data B2NMK95 from url
trying to scrape bond data B0KCMD2 from url
trying to scrape bond data 3115912 from url
trying to scrape bond data B1VTTZ0 from url
trying to scrape bond data 0484110 from url
trying to scrape bond data 0039491 from url
trying to scrape bond data 0524287 from url
trying to scrape bond data 3414716 from url
trying to scrape bond data 0262468 from url
trying to scrape bond data 3227077 from url
trying to scrape bond data B3CPYK1 from url
trying to scrape bond data B4Y0FV9 from url
trying to scrape bond data BGDQ0W8 from url
trying to scrape bond data B03HC45 from url
trying to scrape bond data 3342561 from url
trying to scrape bond data 3235382 from url
trying to scrape bond data B57N6P3 from url
trying to scrape bond data B3D0FP7 from url
trying to scrape bond data BJYHVQ2 from url
trying to scrape bond data BP95743 from url
trying to scrape bond data 0510491 from url
trying to scrape bond data 0365237 from url
trying to scrape bond data BD20Y17 from url
trying to scrape bond data BL9ZVL0 from url
trying to scrape bond data B434V14 from url
trying to scrape bond data 0190536 from url
trying to scrape bond data B3MGZV2 from url
trying to scrape bond data B3Q4VK3 from url
trying to scrape bond data 3167913 from url
trying to scrape bond data BYYTRZ4 from url
trying to scrape bond data B92X2L4 from url
trying to scrape bond data BG88V04 from url
trying to scrape bond data 0491938 from url
trying to scrape bond data 3068157 from url
trying to scrape bond data 0134653 from url
trying to scrape bond data 0877378 from url
trying to scrape bond data 0631530 from url
trying to scrape bond data B908RK5 from url
trying to scrape bond data 0637152 from url
trying to scrape bond data 0636137 from url
trying to scrape bond data 0877505 from url
trying to scrape bond data B0712W1 from url
trying to scrape bond data 3051793 from url
trying to scrape bond data BMBV8F6 from url
trying to scrape bond data BYTLBZ3 from url
trying to scrape bond data 0678355 from url
trying to scrape bond data 0532019 from url
trying to scrape bond data BNQ4H05 from url
trying to scrape bond data BV0LR31 from url
trying to scrape bond data BD8N670 from url
trying to scrape bond data 3113110 from url
trying to scrape bond data BH57VG7 from url
trying to scrape bond data BGNKKR5 from url
trying to scrape bond data BQB3FY8 from url
trying to scrape bond data BG1G105 from url
trying to scrape bond data BP5GL15 from url
trying to scrape bond data BZ8THC4 from url
trying to scrape bond data BDH6X68 from url
trying to scrape bond data BWT68S6 from url
trying to scrape bond data BYWH0D9 from url
trying to scrape bond data BNT2HQ2 from url
trying to scrape bond data BMFKP03 from url
trying to scrape bond data BLCH351 from url
trying to scrape bond data BF47250 from url
trying to scrape bond data BF3T150 from url
trying to scrape bond data BF2DQ81 from url
trying to scrape bond data 3424782 from url
trying to scrape bond data BBJNJX2 from url
trying to scrape bond data 0750491 from url
trying to scrape bond data 0027203 from url
trying to scrape bond data 0786742 from url
trying to scrape bond data 0123383 from url
trying to scrape bond data B08PLG9 from url
trying to scrape bond data 0525150 from url
trying to scrape bond data 0689249 from url
trying to scrape bond data 3109603 from url
trying to scrape bond data BN79174 from url
trying to scrape bond data 3231971 from url
trying to scrape bond data 3104169 from url
trying to scrape bond data B1SX847 from url
trying to scrape bond data 0937465 from url
trying to scrape bond data B11KSW3 from url
trying to scrape bond data 0432551 from url
trying to scrape bond data 3237786 from url
trying to scrape bond data BWNH4K9 from url
trying to scrape bond data 3230097 from url
trying to scrape bond data 3388361 from url
trying to scrape bond data B0CX2M2 from url
trying to scrape bond data B5674L8 from url
error when calling bond B19ZMT5 m exception 	 No tables found
error when calling bond BGNKKR5 m exception 	 'Coupon frequency'
error when calling bond 0432551 m exception 	 Cannot connect to host www.hl.co.uk:443 ssl:default [An existing connection was forcibly closed by the remote host]

In [13]:
b_df

     SEDOL CouponFreq
1  0924597          2
1  BQ8NZW9          2
1  BFZ0WT2          2
1  BFMTY18          1
1  BZ5ZT30          2
1  0482976          1
1  BDF5PP0          2
1  3106518          1
1  B5KP6X4          1
1  B3RS4H2          1
1  BYX4LY7          1
1  0087177          2
1  0087025          1
1  3079784          1
1  3149397          1
1  BYM5X34          1
1  B0SRM51          1
1  B19ZPK7          2
1  0379722          2
1  B1YYD83          1
1  BL6THL7          2
1  0678087          1
1  BFWXVY2          2
1  BDR7W97          2
1  B04X7D6          2
1  BYVZGF8          1
1  BFXW063          1
1  BFXWHQ2       None
1  B3XR428          1
1  B1YWFR0          1
1  0301208          1
1  3432451          1
1  3304323          1
1  B3F8XJ9          1
1  BMFTNK6          2
1  B7M3NB7          2
1  BR4R5Y4          2
1  BTL1KW6          2
1  0347202          2
1  B2NMK95          1
1  B0KCMD2          1
1  3115912          2
1  B1VTTZ0          1
1  0484110          2
1  0039491          2
1  0524287          2
1  3414716          1
1  0262468          1
1  3227077          1
1  B3CPYK1          2
1  B4Y0FV9          1
1  BGDQ0W8          2
1  B03HC45          1
1  3342561          1
1  3235382          1
1  B57N6P3          1
1  B3D0FP7          1
1  BJYHVQ2          2
1  BP95743          2
1  0510491          2
1  0365237          2
1  BD20Y17          2
1  BL9ZVL0          2
1  B434V14          1
1  0190536          2
1  B3MGZV2          2
1  B3Q4VK3          1
1  3167913          1
1  BYYTRZ4          2
1  B92X2L4          1
1  BG88V04          2
1  0491938          1
1  3068157          1
1  0134653          1
1  0877378          1
1  0631530          2
1  B908RK5          1
1  0637152          2
1  0636137          2
1  0877505          2
1  B0712W1          2
1  3051793          2
1  BMBV8F6          2
1  BYTLBZ3          2
1  0678355          2
1  0532019          2
1  BNQ4H05          1
1  BV0LR31          1
1  BD8N670          2
1  3113110          1
1  BH57VG7          2
1  BQB3FY8          2
1  BG1G105          2
1  BP5GL15          2
1  BZ8THC4          2
1  BDH6X68          2
1  BWT68S6          2
1  BYWH0D9          2
1  BNT2HQ2          2
1  BMFKP03          2
1  BLCH351          2
1  BF47250          2
1  BF3T150          2
1  BF2DQ81          2
1  3424782          2
1  BBJNJX2          1
1  0750491          1
1  0027203          2
1  0786742          2
1  0123383          2
1  B08PLG9          1
1  0525150          1
1  0689249          1
1  3109603          1
1  BN79174          1
1  3231971          1
1  3104169          2
1  B1SX847          2
1  0937465          1
1  B11KSW3          1
1  3237786          1
1  BWNH4K9          2
1  3230097          1
1  3388361          1
1  B0CX2M2          2
1  B5674L8          2

In [14]:
df_corp_bonds = pd.merge(df_issuer,b_df, on='SEDOL', how='outer')

In [15]:
df_corp_bonds=df_corp_bonds.rename(columns={'Coupon (%)': 'Coupon'})
df_corp_bonds=df_corp_bonds.dropna()
df_corp_bonds

,Name,Coupon,Maturity,Price,ISIN,SEDOL,CouponFreq
0,3i Group GBP,5.750,3 December 2032,99.575,XS0104440986,0924597,2
1,A2D Funding plc GBP,4.500,30 September 2026,94.925,XS1103286305,BQ8NZW9,2
2,Abrdn Asia Focus Plc GBX,2.250,31 May 2025,95.250,GB00BFZ0WT29,BFZ0WT2,2
3,Allied Irish Banks plc GBP,0.000,25 June 2035,61.000,XS0435957682,BFMTY18,1
4,Alpha Plus Holdings plc GBP,5.000,31 March 2024,97.925,XS1379593566,BZ5ZT30,2
5,Anglian Water Services Financing plc GBP,6.625,15 January 2029,103.900,XS0093312550,0482976,1
6,Aviva plc GBP,4.375,12 September 2049,85.350,XS1488459485,BDF5PP0,2
7,Aviva plc GBP,6.125,14 November 2036,100.450,XS0138717441,3106518,1
8,B.A.T. International Finance GBP,6.000,24 November 2034,90.875,XS0468426266,B5KP6X4,1
9,B.A.T. International Finance plc GBP,5.750,5 July 2040,82.250,XS0522408599,B3RS4H2,1
10,Babcock International Group plc GBP,1.875,5 October 2026,92.871,XS1499603170,BYX4LY7,1
11,Bankers Investment Trust plc GBP,8.000,31 October 2023,100.500,GB0000871771,0087177,2
13,Barclays Bank plc GBP,5.750,14 September 2026,100.650,XS0134886067,3079784,1
15,Barclays Plc GBP,3.250,12 February 2027,90.510,XS1472663670,BYM5X34,1
16,Brit Insurance Holdings N.V. GBP,3.676,9 December 2030,74.300,XS0237631097,B0SRM51,1
17,British Land Co plc GBP,5.357,31 March 2028,107.500,GB00B19ZPK76,B19ZPK7,2
19,British Telecommunications plc GBP,3.500,25 April 2025,221.750,XS0110081782,0379722,2
20,British Telecommunications plc GBP,6.375,23 June 2037,98.575,XS0306772699,B1YYD83,1
21,Bruntwood Bond 2 plc GBP,6.000,25 February 2025,93.000,XS2104011304,BL6THL7,2
22,BT Group plc GBP,5.750,7 December 2028,100.375,XS0097283096,0678087,1
23,Burford Capital Finance 6.125% NT USD USD,6.125,12 August 2025,96.000,XS1756325228,BFWXVY2,2
24,Burford Capital plc GBP,5.000,1 December 2026,93.300,XS1614096425,BDR7W97,2
25,Catalyst Healthcare (Manchester) Finance GBP,2.411,30 September 2040,173.500,XS0208052265,B04X7D6,2
26,Citigroup Inc GBP,5.150,21 May 2026,118.840,XS0168658853,BYVZGF8,1
27,Co-operative Group Ltd GBP,11.000,22 December 2025,105.000,GB00BFXW0630,BFXW063,1
29,Co-operative Group Ltd GBP,7.500,8 July 2026,94.030,XS0629974352,B3XR428,1
30,Daily Mail & General Trust GBP,6.375,21 June 2027,92.375,XS0306155499,B1YWFR0,1
31,Eastern Group GBP,8.500,31 March 2025,103.825,XS0058209106,0301208,1
32,Eastern Power Networks plc GBP,5.750,8 March 2024,100.400,XS0187202303,3432451,1
33,EDF Energy Networks (SPN) GBP,5.500,5 June 2026,99.750,XS0169169355,3304323,1
34,EDP Finance BV GBP,8.625,4 January 2024,101.250,XS0397015537,B3F8XJ9,1
35,EnQuest plc GBP,9.000,27 October 2027,91.575,XS2461853793,BMFTNK6,2
36,EnQuest plc GBP,7.000,15 October 2023,99.150,XS0880578728,B7M3NB7,2
37,Eros Media World Plc GBP,9.000,15 April 2026,14.475,XS1112834608,BR4R5Y4,2
38,Esure Group Plc GBP,6.750,19 December 2024,100.375,XS1155568436,BTL1KW6,2
40,GE Capital UK Funding GBP,5.875,18 January 2033,98.700,XS0340495216,B2NMK95,1
41,General Electric Capital Corp GBP,4.875,18 September 2037,87.275,XS0229561831,B0KCMD2,1
42,GlaxoSmithKline Capital GBP,5.250,19 December 2033,99.950,XS0140516864,3115912,2
43,GlaxoSmithKline Capital Plc GBP,5.250,10 April 2042,95.225,XS0294624373,B1VTTZ0,1
44,GREAT PORTLAND ESTATES PLC GBP,5.625,31 January 2029,102.000,GB0004841101,0484110,2
47,Hammerson GBP,6.000,23 February 2026,96.675,XS0184639895,3414716,1
48,Hammerson plc GBP,7.250,21 April 2028,97.325,XS0085732716,0262468,1
50,Heathrow Funding Ltd GBP,7.075,4 August 2028,104.000,XS0383000832,B3CPYK1,2
51,Heathrow Funding Ltd GBP,6.750,3 December 2026,102.500,XS0471436088,B4Y0FV9,1
52,Heylo Housing Secured Bond GBP,1.625,30 September 2028,85.525,XS1880955007,BGDQ0W8,2
53,HSBC Bank plc GBP,5.375,4 November 2030,97.350,XS0204377310,B03HC45,1
54,HSBC Bank plc GBP,5.375,22 August 2033,96.750,XS0174470764,3342561,1
55,HSBC Holdings GBP,5.750,20 December 2027,99.125,XS0159497162,3235382,1
56,HSBC Holdings Plc GBP,6.000,29 March 2040,89.000,XS0498768315,B57N6P3,1
57,HSBC Holdings Plc GBP,6.750,11 September 2028,101.750,XS0387079907,B3D0FP7,1
58,International Personal Finance plc GBP,7.750,14 December 2023,99.400,XS1998163148,BJYHVQ2,2
59,International Personal Finance Plc GBP,12.000,12 December 2027,102.100,XS2551486058,BP95743,2
61,Legal & General Finance GBP,5.875,11 December 2031,102.970,XS0121464779,0365237,2
62,Lendinvest Secured Income GBP,5.375,6 October 2023,98.757,XS1791022186,BD20Y17,2
63,LendInvest Secured Income II Plc GBP,6.500,8 August 2027,85.500,XS2498582266,BL9ZVL0,2
64,Lewis (John) GBP,6.125,21 January 2025,98.500,XS0527985583,B434V14,1
66,Lloyds TSB Bank GBP,7.625,22 April 2025,102.650,XS0503834821,B3MGZV2,2
67,Lloyds TSB Bank GBP,6.500,17 September 2040,109.025,XS0543369184,B3Q4VK3,1
68,London Power Networks Ltd GBP,6.125,7 June 2027,100.825,XS0148889420,3167913,1
69,M&G plc GBP,5.560,20 July 2055,85.000,XS1243995302,BYYTRZ4,2
70,Marks & Spencer Group GBP,6.000,12 June 2025,99.500,XS0863523030,B92X2L4,1
71,Metro Bank plc GBP,9.139,26 June 2028,60.000,XS1844097987,BG88V04,2
72,National Grid Company GBP,5.875,2 February 2024,100.350,XS0094073672,0491938,1
73,National Grid Electricity Trans. GBP,6.500,27 July 2028,103.825,XS0132735373,3068157,1
74,National Grid Gas GBP,8.750,27 June 2025,101.000,XS0058343251,0134653,1
75,National Grid Gas. GBP,7.000,16 December 2024,95.050,XS0103338496,0877378,1
76,Nationwide Building Society GBP,4.250,23 February 2024,349.500,GB0006315302,0631530,2
77,Nestle Finance International Ltd GBP,2.250,30 November 2023,99.825,XS0860561942,B908RK5,1
83,Orchard Bond Finance Group plc GBP,6.250,2 June 2027,98.500,GB00BMBV8F68,BMBV8F6,2
84,Paragon Banking Group plc GBP,6.000,28 August 2024,98.925,XS1275325758,BYTLBZ3,2
85,Peel Land & Property Inv Plc GBP,8.375,30 April 2040,101.000,GB0006783558,0678355,2
86,Peel South East GBP,10.000,30 April 2026,101.000,GB0005320196,0532019,2
87,Pension Insurance Corp plc GBP,6.500,3 July 2024,99.680,XS1083983376,BNQ4H05,1
88,PGH Capital Ltd GBP,6.625,18 December 2025,101.150,XS1171593293,BV0LR31,1
89,Places For People Finance Plc GBP,4.250,15 December 2023,98.450,XS1527331430,BD8N670,2
90,Prudential GBP,6.125,19 December 2031,100.225,XS0140198044,3113110,1
91,Prudential plc GBP,6.340,19 December 2063,89.880,XS1003373047,BH57VG7,2
93,RCB Bonds Plc GBP,6.250,7 March 2029,98.925,XS2491730375,BQB3FY8,2
94,Regional REIT Ltd GBP,4.500,6 August 2024,94.400,XS1849479602,BG1G105,2
95,Retail Capital Bonds plc GBP,3.500,8 December 2031,79.900,XS2408363278,BP5GL15,2
96,Retail Charity Bonds GBP,5.000,12 April 2026,94.975,XS1386668591,BZ8THC4,2
97,Retail Charity Bonds (Greensleeves Homes Trust) GBP,4.250,30 March 2026,90.625,XS1575974933,BDH6X68,2
98,Retail Charity Bonds (Hightown & Praetorian) GBP,4.400,30 April 2027,93.275,XS1200788369,BWT68S6,2
99,Retail Charity Bonds plc GBP,4.000,31 October 2027,86.550,XS1695541299,BYWH0D9,2
100,Retail Charity Bonds plc GBP,3.250,22 July 2031,82.650,XS2357539522,BNT2HQ2,2
101,Retail Charity Bonds plc GBP,5.000,17 December 2032,88.600,XS2250730749,BMFKP03,2
102,Retail Charity Bonds plc GBP,5.000,27 March 2032,89.400,XS2132997433,BLCH351,2
103,Retail Charity Bonds plc GBP,4.250,6 July 2026,91.350,XS1634535253,BF47250,2
104,Retail Charity Bonds PLC GBP,4.500,20 June 2026,93.000,XS1821505259,BF3T150,2
105,Retail Charity Bonds plc (Golden Lane Housing) GBP,3.900,23 November 2027,82.725,XS1713569629,BF2DQ81,2
106,RMPA Services GBP,5.337,30 September 2038,139.095,XS0185540621,3424782,2
107,Rolls-Royce plc GBP,3.375,18 June 2026,91.500,XS0944831154,BBJNJX2,1
110,Scottish Mortgage Investment Trust GBP,12.000,30 June 2026,115.750,GB0007867426,0786742,2
111,Scottish Power UK GBP,3.494,13 October 2024,211.700,XS0118775591,0123383,2
112,Segro Plc GBP,5.750,20 June 2035,98.750,XS0221324154,B08PLG9,1
113,Severn Trent GBP,6.125,26 February 2024,100.425,XS0094475802,0525150,1
114,Severn Trent Utilities Finance Plc GBP,6.250,7 June 2029,101.400,XS0097777253,0689249,1
115,Southern Electric Power Distribution GBP,5.500,7 June 2032,99.975,XS0139563166,3109603,1
116,Standard Chartered Plc GBP,5.125,6 June 2034,127.410,XS1075419694,BN79174,1
117,Tesco GBP,5.500,13 January 2033,98.600,XS0159013142,3231971,1
118,Tesco GBP,3.322,5 November 2025,198.000,XS0137945373,3104169,2
119,Tesco GBP,5.200,5 March 2057,0.000,XS0289810318,B1SX847,2
120,Tesco GBP,6.000,14 December 2029,102.650,XS0105244585,0937465,1
121,Tesco GBP,4.875,24 March 2042,82.125,XS0248395245,B11KSW3,1
123,United Utilities Water GBP,5.625,20 December 2027,99.600,XS0159728236,3237786,1
124,Vanquis Banking Group plc GBP,5.125,9 October 2023,99.050,XS1209091856,BWNH4K9,2
125,Vodafone Group GBP,5.900,26 November 2032,100.650,XS0158715713,3230097,1
126,Vodafone Group GBP,5.625,4 December 2025,101.025,XS0181816652,3388361,1
128,Yorkshire Building Society GBP,13.500,1 April 2025,150.000,XS0498549194,B5674L8,2

In [16]:
df_corp_bonds["Maturity"] = pd.to_datetime(df_corp_bonds["Maturity"], format="%d %B %Y")
df_corp_bonds['Ttm'] = df_corp_bonds["Maturity"].apply(lambda maturity: calculate_time_to_maturity(maturity))
df_corp_bonds

TypeError: unsupported operand type(s) for -: 'Timestamp' and 'datetime.date'

In [ ]:
COUPON_EX_DATE_OFFSET=2 # how many business dates prior to date offset the Ex date is

df_corp_bonds['AccruedInterest']=df_corp_bonds.apply(lambda x: calculate_accrued_interest(x['Coupon'],FACE_VALUE,x['Ttm'],x['CouponFreq'],x['NextCouponDate'], COUPON_EX_DATE_OFFSET),axis=1)
df_corp_bonds['DirtyPrice']=df_corp_bonds.apply(lambda x: calculate_dirty_price(x['Price'],x['AccruedInterest']),axis=1)
df_corp_bonds['DirtyYield'] = df_corp_bonds.apply(lambda x: calculate_ytm(x['Coupon'], FACE_VALUE, x['Ttm'],x['DirtyPrice'],x['CouponFreq']), axis=1)
df_corp_bonds['CleanYield'] = df_corp_bonds.apply(lambda x: calculate_ytm(x['Coupon'], FACE_VALUE, x['Ttm'],x['Price'],x['CouponFreq']), axis=1)

In [ ]:

df_less_than_Ttm = df_corp_bonds[df_corp_bonds['Ttm'] < 5]
df_less_than_Ttm=df_less_than_Ttm.sort_values("DirtyYield", ascending=False)
df_less_than_Ttm['URL']=df_less_than_Ttm['SEDOL'].apply(lambda sedol: get_bond_page(sedol))
cols = ['Name','URL','SEDOL','Coupon', 'Maturity', 'Price', 'Ttm','DirtyPrice', 'DirtyYield', 'CleanYield']
df_less_than_Ttm = df_less_than_Ttm[cols]
df_less_than_Ttm.style.format({'URL': generate_link})
df_less_than_Ttm

In [ ]:
get_bond_page()